$bgndImg: url("../img/m-h-day.jpg");
$textColor: #2c2f3c;
$underlineColor: #14a0c7;
$colorWhite: #ffffff;
$gradientSectionBanner: linear-gradient(45deg,
#639219 25%,
#5a8936 55%,
#43728a 75%,
#305ecc 100%);
$fontSourse: 'Source Sans Pro',
sans-serif;
$fontHind: 'Hind',
sans-serif;
$fontFresca: 'Fresca',
sans-serif;
$backgroundColors: ( bgndPageColor: #ffffff,
bgndButton: #699900,
bgndSectionCard: #21232e,
bgndFooter: #21232e);