$bgndImg: url("../img/m-h-night.jpg");
$textColor: #ffffff;
$underlineColor: #ff4e33;
$colorWhite: #ffffff;
$gradientSectionBanner: linear-gradient(45deg,
#dda206 25%,
#ca8419 55%,
#b05b34 75%,
#96324f 100%);
$fontSourse: 'Source Sans Pro',
sans-serif;
$fontHind: 'Hind',
sans-serif;
$fontFresca: 'Fresca',
sans-serif;
$backgroundColors: ( bgndPageColor: #21232e,
bgndButton: #e3ac00,
bgndSectionCard: #3b3f50,
bgndFooter: #3b3f50);